div.calculator-button {
  font-size: 2rem;
  text-align: center;
  width: 25%;
  border: .5rem solid #b7410e;
  padding: .5rem 0;
  cursor: pointer;
  /* -moz-box-shadow: 3px 3px 5px 6px #ccc; */
  /* -webkit-box-shadow: 3px 3px 5px 6px #ccc; */
  box-shadow: 0 1px 2px 0 black;
}

div.calculator-button:hover {
  background-color: rgba(183, 65, 14, .5);
}

div.calculator-button:active {
  background-color: rgba(183, 65, 14, .8);
}