div#calculator-container, div.calculator-row {
  display: flex;
  justify-content: space-between;
}

div#calculator-container {
  background-color: rgba(190, 190, 190, .5);
  flex-direction: column;
  width: calc(100% - 3rem);
  margin: 1rem auto;
  padding: .5rem;
  border: 1.5rem solid #b7410e;
}

.display-row {
  display: flex;
  flex-direction: row;
  width: calc(100% - 1rem);
  border: .5rem solid #b7410e;
  font-size: 2rem;
  justify-content: flex-end;
}

.display-row>input {
  font-size: 1rem;
  width: 100%;
  padding: .6rem;
  background-color: rgba(190, 190, 190, .2);
  border: 0;
}

div.display-row>input:focus {
  outline: none;
}

.br-2 {
  border-radius: 2rem;
}

.br-half {
  border-radius: .5rem;
}